<div class="metodos-pago" *ngIf="detalles.length > 0">
  <ng-container *ngFor="let metodo of metodosPago">
    <button
      *ngIf="metodo.estado !== 'inactivo'"
      type="button"
      class="metodo-pago-btn"
      mat-icon-button
      [matTooltip]="metodo.descripcion"
      (click)="seleccionarMetodoPago(metodo)"
      [disabled]="disabled"
      [class.metodo-pago-seleccionado]="isMetodoSeleccionado(metodo)">
      <img
        [src]="'assets/img/icons/payments/' + metodo.file"
        [alt]="metodo.descripcion"
        class="metodo-pago-icon" />
      <mat-icon
        *ngIf="metodo.estado !== 'activo'"
        class="metodo-pago-warning"
        svgIcon="mat:warning">
      </mat-icon>
    </button>
  </ng-container>
</div>

