:host {
  background: var(--vex-toolbar-background);
  box-sizing: border-box;
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--vex-toolbar-z-index);
  @apply backdrop-blur border-b;
}

.toolbar {
  height: var(--vex-toolbar-height);
  min-height: var(--vex-toolbar-height);
  padding-block: 0;
}

a {
  text-decoration: none;
}
