<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/logo/logo.png" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Registrar una cuenta</h2>
      <h4 class="body-2 text-secondary m-0">
        Completa el formulario a continuación
      </h4>
    </div>

    <div
      [formGroup]="form"
      class="p-6 flex flex-col gap-4 flex-auto flex flex-col">
      <input
        type="text"
        style="
          position: absolute;
          opacity: 0;
          height: 0;
          width: 0;
          pointer-events: none;
        "
        tabindex="-1"
        autocomplete="off" />
      <input
        type="password"
        style="
          position: absolute;
          opacity: 0;
          height: 0;
          width: 0;
          pointer-events: none;
        "
        tabindex="-1"
        autocomplete="off" />

      <div>
        <mat-form-field class="flex-1 block">
          <mat-label>Nombre</mat-label>
          <input
            formControlName="name"
            matInput
            required
            autocomplete="chrome-off"
            readonly
            onfocus="this.removeAttribute('readonly')"
            onkeydown="this.removeAttribute('readonly')"
            data-lpignore="true"
            data-form-type="other" />
          @if (form.get("name")?.hasError("required")) {
            <mat-error>Se requiere un nombre </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="flex-1 block">
          <mat-label>Correo Electrónico</mat-label>
          <input
            formControlName="email"
            matInput
            type="text"
            required
            autocomplete="chrome-off"
            readonly
            onfocus="this.removeAttribute('readonly')"
            onkeydown="this.removeAttribute('readonly')"
            data-lpignore="true"
            data-form-type="other"
            [id]="'register-email-' + fieldId"
            [name]="'register-email-' + fieldId" />
          @if (form.get("email")?.hasError("required")) {
            <mat-error>Se requiere un correo electrónico </mat-error>
          }
          @if (form.get("email")?.hasError("email")) {
            <mat-error>Correo electrónico inválido </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="flex-1 block">
          <mat-label>Teléfono</mat-label>
          <input
            formControlName="telefono"
            matInput
            type="text"
            required
            autocomplete="chrome-off"
            readonly
            onfocus="this.removeAttribute('readonly')"
            onkeydown="this.removeAttribute('readonly')"
            data-lpignore="true"
            data-form-type="other" />
          @if (form.get("telefono")?.hasError("required")) {
            <mat-error>Se requiere un teléfono </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="flex-1 block">
          <mat-label>Contraseña</mat-label>
          <input
            [type]="inputType"
            formControlName="password"
            matInput
            required
            autocomplete="chrome-off"
            readonly
            onfocus="this.removeAttribute('readonly')"
            onkeydown="this.removeAttribute('readonly')"
            data-lpignore="true"
            data-form-type="other"
            [id]="'register-password-' + fieldId"
            [name]="'register-password-' + fieldId" />
          <button
            (click)="toggleVisibility()"
            mat-icon-button
            matIconSuffix
            matTooltip="Mostrar/Ocultar contraseña"
            type="button">
            @if (visible) {
              <mat-icon svgIcon="mat:visibility"></mat-icon>
            }
            @if (!visible) {
              <mat-icon svgIcon="mat:visibility_off"></mat-icon>
            }
          </button>
          @if (form.get("password")?.hasError("required")) {
            <mat-error>Se requiere una contraseña </mat-error>
          }
          @if (form.get("password")?.hasError("minlength")) {
            <mat-error
              >La contraseña debe tener al menos 6 caracteres
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="flex-1 block">
          <mat-label>Confirmar Contraseña</mat-label>
          <input
            [type]="inputType"
            formControlName="passwordConfirm"
            matInput
            required
            autocomplete="chrome-off"
            readonly
            onfocus="this.removeAttribute('readonly')"
            onkeydown="this.removeAttribute('readonly')"
            data-lpignore="true"
            data-form-type="other"
            [id]="'register-password-confirm-' + fieldId"
            [name]="'register-password-confirm-' + fieldId" />
          <button
            (click)="toggleVisibility()"
            mat-icon-button
            matIconSuffix
            matTooltip="Mostrar/Ocultar contraseña"
            type="button">
            @if (visible) {
              <mat-icon svgIcon="mat:visibility"></mat-icon>
            }
            @if (!visible) {
              <mat-icon svgIcon="mat:visibility_off"></mat-icon>
            }
          </button>
          @if (form.get("passwordConfirm")?.hasError("required")) {
            <mat-error>Se requiere confirmar la contraseña </mat-error>
          }
          @if (form.get("passwordConfirm")?.hasError("passwordMismatch")) {
            <mat-error>Las contraseñas no coinciden </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="flex items-center justify-center">
        <mat-checkbox class="caption"
          >Acepto los <a>términos y condiciones.</a></mat-checkbox
        >
      </div>
      <button
        (click)="send()"
        color="primary"
        mat-raised-button
        type="button"
        [disabled]="loading">
        @if (loading) {
          <mat-spinner diameter="20" class="button-spinner"></mat-spinner>
        }
        @if (!loading) {
          <span>CREAR CUENTA</span>
        }
        @if (loading) {
          <span>Registrando...</span>
        }
      </button>
      <p class="text-secondary text-center">
        ¿Ya tienes una cuenta?<br />
        <a [routerLink]="['/login']">Inicia sesión aquí</a>
      </p>
    </div>
  </div>
</div>
