<h2 mat-dialog-title>Seleccionar Producto</h2>

<div mat-dialog-content class="dialog-content">
  <div class="search-field-wrapper">
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Nombre o código de barras</mat-label>
      <input
        #searchInput
        matInput
        id="searchInput"
        [formControl]="searchCtrl"
        placeholder="Ej. código de barras o nombre"
        autocomplete="off" />
      <div matSuffix class="search-suffix-actions">
        <button
          mat-icon-button
          *ngIf="searchCtrl.value"
          aria-label="Limpiar búsqueda"
          type="button"
          (click)="clearSearch()">
          <mat-icon class="icon-sm" svgIcon="mat:close"></mat-icon>
        </button>
        <button
          mat-icon-button
          *ngIf="canCreateProduct"
          color="primary"
          aria-label="Registrar producto"
          matTooltip="Nuevo producto"
          type="button"
          (click)="openNuevoProducto($event)">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
      </div>
    </mat-form-field>
  </div>

  <div class="table-container" (scroll)="onTableScroll($event)">
    <div class="loading" *ngIf="loading">Cargando productos...</div>
    <div class="error" *ngIf="!loading && error">{{ error }}</div>

    <table mat-table [dataSource]="products" class="product-table" *ngIf="!loading && products.length">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Producto</th>
      <td mat-cell *matCellDef="let product">{{ product.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="barcode">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let product">{{ product.barcode }}</td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef class="col-precio">Precio</th>
      <td mat-cell *matCellDef="let product" class="col-precio">
        <div class="precio-cell">
          <span class="precio-principal">{{ product.precio | currency:'USD':'symbol':'1.2-2' }}</span>
          <span class="precio-unidad" *ngIf="product.precioUnidad != null">
            {{ product.precioUnidad | currency:'USD':'symbol':'1.2-2' }}
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let product">
        <div class="action-buttons">
          <button
            mat-icon-button
            color="primary"
            (click)="editProduct(product, $event)"
            matTooltip="Editar producto"
            type="button">
            <mat-icon svgIcon="mat:edit"></mat-icon>
          </button>
          <button mat-flat-button color="primary" (click)="selectProduct(product)">
            Seleccionar
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cerrar</button>
</div>


