<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/logo/logo.png" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Bienvenido de nuevo</h2>
      <h4 class="body-2 text-secondary m-0">
        Inicia sesión con tus credenciales.
      </h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col gap-4">
      <div class="flex flex-col">
        <mat-form-field class="flex-1">
          <mat-label>Correo Electrónico</mat-label>
          <input 
            formControlName="email" 
            matInput 
            type="text"
            required 
            autocomplete="chrome-off"
            readonly 
            onfocus="this.removeAttribute('readonly')"
            onkeydown="this.removeAttribute('readonly')"
            data-lpignore="true"
            data-form-type="other"
            [id]="'login-email-' + fieldId"
            [name]="'login-email-' + fieldId" />
          <mat-error *ngIf="form.controls.email.hasError('required')"
          >Se requiere un correo electrónico
          </mat-error>
          <mat-error *ngIf="form.controls.email.hasError('email')"
          >Correo electrónico inválido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="flex-1">
          <mat-label>Contraseña</mat-label>
          <input
            #passwordInput
            [type]="passwordInputType"
            formControlName="password"
            matInput
            required
            autocomplete="chrome-off"
            readonly
            (focus)="onPasswordFocus($event)"
            (input)="onPasswordInput($event)"
            (keydown.enter)="send()"
            data-lpignore="true"
            data-form-type="other"
            [id]="'login-password-' + fieldId"
            [name]="'login-password-' + fieldId" />
          <button
            (click)="toggleVisibility()"
            mat-icon-button
            matIconSuffix
            matTooltip="Mostrar/Ocultar contraseña"
            type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
          <mat-hint>Haz clic en el ojo para mostrar/ocultar la contraseña</mat-hint>
          <mat-error *ngIf="form.controls.password.hasError('required')"
          >Se requiere una contraseña
          </mat-error>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between">
        <mat-checkbox class="caption" color="primary">Recordarme</mat-checkbox>
        <a [routerLink]="['/forgot-password']" class="caption"
        >¿Olvidaste tu contraseña?</a
        >
      </div>

      <button 
        (click)="send()" 
        color="primary" 
        mat-raised-button 
        type="button"
        [disabled]="loading">
        <mat-spinner *ngIf="loading" diameter="20" class="button-spinner"></mat-spinner>
        <span *ngIf="!loading">INICIAR SESIÓN</span>
        <span *ngIf="loading">Iniciando sesión...</span>
      </button>

      <p class="text-secondary text-center">
        ¿No tienes una cuenta?<br />
        <a [routerLink]="['/register']">Haz clic aquí para crear una</a>
      </p>
    </div>
  </div>
</div>
