<form (ngSubmit)="save()" [formGroup]="form" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="flex items-center dialog-header" mat-dialog-title cdkDragHandle>
    <h2 class="headline m-0 flex-auto">
      {{ data ? 'Editar egreso' : 'Nuevo egreso' }}
    </h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>
  <mat-divider class="text-border"></mat-divider>
  <mat-dialog-content class="flex flex-col">
    <mat-form-field class="mt-6 flex-1" appearance="outline">
      <mat-label>Fecha</mat-label>
      <input
        #fechaInput
        matInput
        [matDatepicker]="picker"
        formControlName="fecha" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="flex-1">
      <mat-label>Valor</mat-label>
      <input
        #valorInput
        formControlName="valor"
        matInput
        type="number"
        min="0"
        step="0.01"
        (focus)="selectValorOnFocus()" />
      <mat-icon matIconPrefix svgIcon="mat:attach_money"></mat-icon>
      <mat-error *ngIf="form.get('valor')?.hasError('required')">Requerido</mat-error>
      <mat-error *ngIf="form.get('valor')?.hasError('min')">Debe ser mayor o igual a 0</mat-error>
    </mat-form-field>
    <mat-form-field class="flex-1">
      <mat-label>Proveedor</mat-label>
      <input
        matInput
        formControlName="proveedor"
        [matAutocomplete]="autoProveedor"
        placeholder="Escriba para filtrar por nombre"
        (keydown.enter)="onProveedorKeydown($any($event))" />
      <mat-icon matIconPrefix svgIcon="mat:local_shipping"></mat-icon>
      <button
        *ngIf="showAddProveedor$ | async"
        mat-icon-button
        matSuffix
        type="button"
        matTooltip="Nuevo proveedor"
        (click)="openNuevoProveedor($event)">
        <mat-icon svgIcon="mat:add"></mat-icon>
      </button>
      <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="displayProveedor">
        <mat-option *ngFor="let prov of filteredProveedores$ | async" [value]="prov">
          {{ prov.nombre }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.get('proveedor')?.hasError('required')">Seleccione un proveedor</mat-error>
    </mat-form-field>
    <mat-form-field class="flex-1">
      <mat-label>Observación</mat-label>
      <input formControlName="descripcion" matInput />
      <mat-icon matIconPrefix svgIcon="mat:description"></mat-icon>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancelar</button>
    <button [color]="isEditMode ? 'accent' : 'primary'" mat-flat-button type="submit" [disabled]="form.invalid">
      {{ buttonLabel }}
    </button>
  </mat-dialog-actions>
</form>
