<div class="mt-6 flex flex-col md:flex-row md:items-start">
  <div class="flex-auto">
    <div class="card">
      <div class="px-6 py-4 border-b">
        <h2 class="title m-0">Información Personal</h2>
      </div>

      <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="py-3 flex items-center" *ngIf="telefonoUsuario">
          <div
            @scaleIn
            class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:phone"></mat-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{ telefonoUsuario }}</p>
            <p class="m-0 caption text-hint">Contacto</p>
          </div>
        </div>

        <div class="py-3 flex items-center" *ngIf="rolNombre">
          <div
            @scaleIn
            class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:work"></mat-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{ rolNombre }}</p>
          </div>
        </div>

        <div class="py-3 flex items-center" *ngIf="correoUsuario">
          <div
            @scaleIn
            class="w-10 h-10 rounded-full bg-primary-600/10 text-primary-600 ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:mail"></mat-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{ correoUsuario }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
