<div class="bg-pattern w-full h-full flex flex-col items-center justify-center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/logo/logo.png" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Restablecer Contraseña</h2>
      <h4 class="body-2 text-secondary m-0">
        Ingresa tu correo electrónico para recuperar tu contraseña.
      </h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col">
      <input
        type="text"
        style="
          position: absolute;
          opacity: 0;
          height: 0;
          width: 0;
          pointer-events: none;
        "
        tabindex="-1"
        autocomplete="off" />

      <mat-form-field>
        <mat-label>Correo Electrónico</mat-label>

        <mat-icon class="mr-2" matIconPrefix svgIcon="mat:mail"></mat-icon>
        <input
          formControlName="email"
          matInput
          type="text"
          required
          autocomplete="chrome-off"
          readonly
          onfocus="this.removeAttribute('readonly')"
          onkeydown="this.removeAttribute('readonly')"
          data-lpignore="true"
          data-form-type="other" />
        @if (form.controls.email.hasError("required")) {
          <mat-error>
            No podemos recuperar tu contraseña sin tu correo electrónico.
          </mat-error>
        }
        @if (form.controls.email.hasError("email")) {
          <mat-error>
            Por favor ingresa un correo electrónico válido.
          </mat-error>
        }
      </mat-form-field>

      <button
        (click)="send()"
        class="mt-2"
        color="primary"
        mat-raised-button
        type="button"
        [disabled]="loading">
        @if (!loading) {
          <span>Recuperar</span>
        }
        @if (loading) {
          <span>Enviando...</span>
        }
      </button>
      @if (loading) {
        <div class="mt-2 flex justify-center">
          <mat-spinner diameter="30"></mat-spinner>
        </div>
      }
    </div>
  </div>
</div>
