@switch (size) {
  <!-- Small size: icon button -->
  @case ("small") {
    <button
      mat-icon-button
      [color]="color"
      [disabled]="disabled || !hasValidData"
      type="button"
      (click)="onSearchClick()"
      [matTooltip]="tooltipText"
      class="google-search-button">
      @if (showIcon) {
        <!-- Icono especial para búsqueda de código de barras (dos iconos superpuestos) -->
        @if (searchType === "barcode") {
          <mat-icon svgIcon="mat:search" class="icon-search"></mat-icon>
          <mat-icon svgIcon="mat:qr_code" class="icon-barcode"></mat-icon>
        }
        <!-- Icono simple para búsqueda por nombre -->
        @if (searchType === "name") {
          <mat-icon svgIcon="mat:search"></mat-icon>
        }
      }
    </button>
  }
  <!-- Medium size: regular button -->
  @case ("medium") {
    <button
      mat-button
      [color]="color"
      [disabled]="disabled || !hasValidData"
      type="button"
      (click)="onSearchClick()"
      [matTooltip]="tooltipText"
      class="google-search-button">
      @if (showIcon) {
        <!-- Icono especial para búsqueda de código de barras (dos iconos superpuestos) -->
        @if (searchType === "barcode") {
          <mat-icon svgIcon="mat:search" class="icon-search"></mat-icon>
          <mat-icon svgIcon="mat:qr_code" class="icon-barcode"></mat-icon>
        }
        <!-- Icono simple para búsqueda por nombre -->
        @if (searchType === "name") {
          <mat-icon svgIcon="mat:search"></mat-icon>
        }
      }
      <!-- Texto para botones medianos -->
      <span class="ml-1">
        @if (searchType === "barcode") {
          Buscar Código
        }
        @if (searchType === "name") {
          Buscar Nombre
        }
      </span>
    </button>
  }
  <!-- Large size: flat button -->
  @case ("large") {
    <button
      mat-flat-button
      [color]="color"
      [disabled]="disabled || !hasValidData"
      type="button"
      (click)="onSearchClick()"
      [matTooltip]="tooltipText"
      class="google-search-button">
      @if (showIcon) {
        <!-- Icono especial para búsqueda de código de barras (dos iconos superpuestos) -->
        @if (searchType === "barcode") {
          <mat-icon svgIcon="mat:search" class="icon-search"></mat-icon>
          <mat-icon svgIcon="mat:qr_code" class="icon-barcode"></mat-icon>
        }
        <!-- Icono simple para búsqueda por nombre -->
        @if (searchType === "name") {
          <mat-icon svgIcon="mat:search"></mat-icon>
        }
      }
      <!-- Texto para botones grandes -->
      <span class="ml-1">
        @if (searchType === "barcode") {
          Buscar Código
        }
        @if (searchType === "name") {
          Buscar Nombre
        }
      </span>
    </button>
  }
}
