<vex-page-layout>
  <vex-page-layout-header class="pb-4 flex flex-col items-start justify-center">
    <div [class.container]="true" class="w-full flex flex-col sm:flex-row justify-between">
      <vex-breadcrumbs [crumbs]="['Aplicaciones', 'Ventas']"></vex-breadcrumbs>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content [class.container]="true" class="-mt-6 pb-6">
    <div class="card tickets-card">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
        <h2 class="title my-0">Ventas</h2>
      </div>
      <div class="p-4">
        <div class="tabs-container" *ngIf="tickets?.length; else noTickets">
          <mat-tab-group class="ticket-tab-group" mat-stretch-tabs="false">
            <mat-tab *ngFor="let t of tickets" [label]="t.nombre">
              <vex-recibo [ticket]="t"></vex-recibo>
            </mat-tab>
          </mat-tab-group>
        </div>
        <ng-template #noTickets>
          <div class="text-secondary">No hay tickets para esta sesión.</div>
        </ng-template>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

