<vex-page-layout>
  <vex-page-layout-header class="pb-4 flex flex-col items-start justify-center">
    <div [class.container]="true" class="w-full flex flex-col sm:flex-row justify-between">
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content [class.container]="true" class="-mt-6 pb-6">
    <div class="card tickets-card">
      <div class="bg-app-bar px-6 h-12 border-b sticky left-0 flex items-center">
        <h2 class="title my-0">Ventas</h2>
      </div>
      <div class="px-4">
        <div class="tabs-container" *ngIf="tickets?.length; else noTickets">
          <div class="tabs-row">
            <nav
              mat-tab-nav-bar
              class="ticket-tab-nav border-0 flex-auto"
              [tabPanel]="tabPanel">
              <div class="tab-item" *ngFor="let t of tickets; let i = index">
                <a
                  mat-tab-link
                  [active]="selectedIndex === i"
                  (click)="selectTicket(i)"
                  class="tab-link">
                  {{ t.nombre }}
                </a>
                <button
                  mat-icon-button
                  type="button"
                  class="tab-close"
                  [disabled]="loading"
                  (click)="deleteTicket(t, i, $event)">
                  <mat-icon svgIcon="mat:close"></mat-icon>
                </button>
              </div>
            </nav>
            <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
            <button
              mat-flat-button
              color="primary"
              class="new-ticket-btn ltr:ml-4 rtl:mr-4 flex-none"
              type="button"
              [disabled]="sessionId === null || loading"
              (click)="newTicket()">
              <mat-icon class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1 icon-sm" svgIcon="mat:add"></mat-icon>
              <span>Nuevo ticket</span>
            </button>
          </div>
          <div class="ticket-panel" *ngIf="tickets[selectedIndex] as activeTicket">
            <vex-recibo [ticket]="activeTicket" [reciboId]="currentReciboId"></vex-recibo>
          </div>
        </div>
        <ng-template #noTickets>
          <div class="text-secondary">No hay tickets para esta sesión.</div>
        </ng-template>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
